.rounded-marker-icon {
    width: 40px;
    /* Adjust the size as needed */
    height: 40px;
    border: 1px solid red;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Makes the icon circular */
    overflow: hidden;
}