/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nexa';
    src: local('Nexa'), url(./fonts/Nexa-Book.woff) format('woff');

    /* Add additional formats if you have them */
    /* src: local('Nexa'), url(./fonts/Nexa-Black.woff) format('woff'), url(./fonts/Nexa-Black.woff2) format('woff2'), url(./fonts/Nexa-Black.ttf) format('truetype'); */
}

h1,
h2,
h3 {
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
}

body {
    background-color: #1f1a3a;
    font-family: 'Nexa', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}