/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nexa';
    src: local('Nexa'), url(./fonts/Nexa-Book.woff) format('woff');

    /* Add additional formats if you have them */
    /* src: local('Nexa'), url(./fonts/Nexa-Black.woff) format('woff'), url(./fonts/Nexa-Black.woff2) format('woff2'), url(./fonts/Nexa-Black.ttf) format('truetype'); */
}

h1,
h2,
h3 {
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
}

body {
    background-color: #F2F3F5;
    font-family: 'Nexa', sans-serif;
}