.swiper-slide {
    text-align: center;




}


/* styles.css */

/* Style the pagination container */
.custom-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style individual pagination bullets */
.custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* Style the active pagination bullet */
.custom-pagination .swiper-pagination-bullet-active {
    opacity: 1;

}

.swiper-pagination-bullet {
    background-color: green;
    opacity: 1;
}